<head>
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>

<hr>
<h2>Estudiantes</h2>


<p>Hacer aqui una barra de busqueda :D</p>
<table *ngIf="students.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Teléfono</th>
      <th>Email</th>
      <th>Dirección</th>
      <th>Género</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.surnames }}</td>
      <td>{{ student.phoneNumbers.join(', ') }}</td>
      <td>{{ student.email }}</td>
      <td>
        <div class="details">
          <span><strong>Dirección:</strong> {{ student.address.street }}, {{ student.address.city }}, {{ student.address.state }} - {{ student.address.postalCode }}</span>
          <span><strong>Registro:</strong> {{ student.registerDate | date: 'short' }}</span>
          <span><strong>NIF:</strong> {{ student.nif }}</span>
        </div>
      </td>
      <td>{{ student.gender === 'M' ? 'Masculino' : 'Femenino' }}</td>
      <td>
        <button (click)="editStudent(student.id)" class="logos">
          <i class="bx bx-edit"></i>
        </button>
        <button (click)="deleteStudent(student.id)" class="logos">
          <i class='bx bxs-trash'></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Mensaje en caso de que no haya estudiantes -->
<p *ngIf="students.length === 0">No hay estudiantes disponibles.</p>  