body {
    background-color: white;
    display: grid;
    grid-template-areas: 
      "header"
      "navbar"
      "main"
      "footer";
    margin: 0;
  }
  
  .navbar {
    grid-area: navbar;
    background-color: rgb(205, 232, 255);
    display: inline-flex;
    width: 100%;
    font-size: 1.2em;
  }
  
  .navbar a {
    color: black;
    padding: 0px 10px;
  }
  
  .navbar a:hover {
    background-color: white;
    color: blue;
  }
  
  header {
    grid-area: header;
    background-color: aliceblue;
  }
  