<header>
    <h3>IES LAS ESPEÑETAS FCT</h3>
</header>

<!-- Barra de navegación -->
<div class="navbar">
    <nav>
        <a routerLink="/" routerLinkActive="active">Inicio</a>
    </nav>
    <nav>
        <a routerLink="/students" routerLinkActive="active">Estudiantes</a>
    </nav>
    <nav>
        <a routerLink="/teachers" routerLinkActive="active">Profesores</a>
    </nav>
</div>

<!-- Sección principal donde se carga el contenido dinámico -->
<main>
    <p>Esto sale en todas las paginas, app.components</p>
    <router-outlet></router-outlet>
    <p>Aqui arriba esta el router-outlet</p>
</main>
